* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none !important;
  font-family: "Ubuntu", sans-serif;
  border: none;
}
ol, ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
p {
  margin-bottom: 0 !important;
}
@import "mixins";
@import "variables";

body {
  background: #f8f8ff;
}

#Header {
  @include mobile() {
    display: none;
  }

  @include ipad() {
    display: none;
  }

  .Header {
    background-color: white;


    .Header-container {
      width: 85%;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Header-container-left {
        height: 75px;
        width: 130px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .Header-container-center {
        ul {
          display: flex;
          gap: 40px;
          align-items: center;

          li {
            a {
              font-weight: 600;
              font-size: 18px;
              color: #000;
              position: relative;
              transition: 0.6s;

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1.5px;
                transform-origin: left;
                transform: scaleX(0);
                background-color: rgb(0, 0, 0);
                border-radius: 10px;
                display: block;
                left: 0px;
                top: 110%;
                transition: 0.4s;
              }

              &:hover {
                color: #2fb000;

                &::after {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }

      .Header-container-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    }
  }
}

.Header-whatsap {
  border: 1px solid;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  transition: 0.6s;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: black;
  }

  &:hover {
    transform: rotate(360deg);
    background-color: #29e668;

    i {
      color: white;
    }
  }
}

.Header-language {
  position: relative;
  cursor: pointer;

  p {
    cursor: pointer;
    width: 60px;
    display: flex;
    gap: 5px;
    align-items: center;

    i {
      transition: 0.6s;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    top: 20px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.SifarisEt {
  background: #0095ff;
  padding: 10px;
  border-radius: 25px;
  color: white;
  width: 125px;
  font-size: 14px;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #0d598f;
  }
}

#Started {
  margin-top: 80px;

  .Started-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    .Started-logo {
      text-align: center;

      h3 {
        font-size: 40px;

        @include ipad() {
          font-size: 35px;
        }

        @include mobile() {
          font-size: 25px;
        }
      }
    }

    .Started-category {
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;

        @include ipad() {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 20px;
        }

        @include mobile() {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
        }

        li {
          text-align: center;
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          .Started-categories-icon {

            // text-align: center;
            // i {
            //   color: #000000;
            //   font-size: 45px;
            //   @include mobile(){
            //     font-size: 30px;
            //   }
            // }
            img {
              width: 60px;
            }
          }

          .Started-categories-word {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            h3 {
              font-size: 25px;

              @include ipad() {
                font-size: 22px;
              }

              @include mobile() {
                font-size: 18px;
              }
            }

            p {
              width: 80%;
              margin: 0 auto;
              font-size: 16px;
              line-height: 22px;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

#contact {
  width: 95%;
  margin: 0 auto;

  h3 {
    font-size: 36px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    @include mobile() {
      font-size: 20px;
    }

    margin-bottom: 40px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;

    @include mobile() {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    .contact-map-items {
      @include mobile() {
        width: 100%;
      }

      .contact-map {
        width: 100%;
        height: 100%;

        iframe {
          width: 100%;
        }
      }
    }
  }
}

.contact-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  height: max-content;

  @include mobile() {
    width: 100%;
  }

  // align-items: center;

  .contact-item {
    // max-width: 387px;
    padding: 25px 0px;
    border: 1px solid #aeeabf;
    border-radius: 12px;
    display: flex;
    height: max-content;

    // align-items: center;
    // justify-content: space-evenly;
    // justify-content: space-around;
    i {
      font-size: 1.5em;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      background-color: #d7f4df;
      border-radius: 12px;
      padding: 12px;
      margin: 0 1rem;
    }

    .contact-about {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 20px;
        color: #050505;
        line-height: 24px;
        margin-bottom: 5px;
      }

      a {
        color: #0a0a0a;
        line-height: 21px;
      }
    }
  }
}

.Mehsul {
  width: 85%;
  margin: 0 auto;

  .Mehsul-container {
    margin-top: 30px;

    .MehsulFirst {
      display: flex;
      // grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 40px;
      align-items: center;

      @include mobile() {
        flex-direction: column;
        row-gap: 20px;
      }

      .MehsulFirst-img {
        width: 50%;
        @include mobile(){
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .MehsulFirst-word {

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        padding-top: 25px;
       
        .MehsulFirst-word-text{
          display: flex;
          flex-direction: column;
          row-gap: 35px;
 h3 {
          font-size: 25px;

          @include mobile() {
            font-size: 18px;
          }
        }

        p {
          @include mobile() {
            font-size: 16px;
          }
        }
        }
        .Mehsul-Submite {
          background-color: #0095ff;
          color: white;
          width: 200px;
          height: 40px;
          border-radius: 25px;
          margin: 10px 0;
          transition: .6s;
          cursor: pointer;
          &:hover{
            background-color: #318ac9;
          }
        }
      }
    }
  }
}

.Mehsulİtems {
  width: 85%;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;

    @include mobile() {
      font-size: 20px;
    }
  }

  .MehsulItem-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;

    @include mobile() {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    .MehsulItem {
      padding: 25px 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      cursor: pointer;
      border-radius: 10px;
      background-color: #ffffff;
      height: 350px;
      .MehsulItem-word {
        height: 40px;

        h3 {
          font-size: 20px;

          @include mobile() {
            font-size: 18px;
          }
        }
      }

      .MehsulItem-img {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: 0.5s;
          object-fit: contain;
          @include mobile() {
            height: auto;
          }
        }
      }

      h3 {
        font-size: 16px;
        text-align: center;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.Mehsul-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .Mehsul-infoItem {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h3 {
      font-size: 30px;

      @include mobile() {
        font-size: 20px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
      opacity: 0.8;

      @include mobile() {
        font-size: 16px;
      }
    }
  }
}

.footer {
  background-color: #3b3b46;
  margin-top: 50px;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;

    @include mobile() {
      flex-direction: column;
      row-gap: 20px;
    }

    .footer-logo {
      width: 100px;
      height: 75px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .footer-categories {
      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;

        li {
          a {
            color: white;
            position: relative;
            transition: 0.6s;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1.5px;
              transform-origin: left;
              transform: scaleX(0);
              background-color: rgb(255, 255, 255);
              border-radius: 10px;
              display: block;
              left: 0px;
              top: 110%;
              transition: 0.4s;
            }

            &:hover {
              color: #29e668;

              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }

    .footer-links {
      display: flex;
      gap: 30px;

      .footer-linksItem {
        width: 35px;
        height: 35px;
        display: flex;
        background: white;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.6s;
        cursor: pointer;

        i {
          color: black;
          transition: 0.6s;
          font-size: 16px;
        }

        &:hover {
          transform: rotate(360deg);
          background-color: #29e668;

          i {
            color: white;
          }
        }
      }
    }
  }
}

.Sablon {
  margin-top: 50px;
  // padding: 25px 0;
  padding-top: 25px;
  .Sablon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 0 auto;
    column-gap: 20px;
    @include mobile() {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    .Sablon-downMessages{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    .Sablonn-down {
      padding: 20px;
      background-color: #f8f8f8;
      border: 2px dashed #ccc;
      border-radius: 10px;
      cursor: pointer;
      p{
        text-align: center;
      }
      
    
      // &:hover {
      //   background-color: greenyellow;
      //   border-color: #888;
      // }
    
      // i {
      //   font-size: 50px;
      //   color: #666;
      //   margin-bottom: 10px;
      // }
    
      // span {
      //   font-size: 18px;
      //   color: #666;
      //   font-weight: bold;
      //   margin-bottom: 10px;
      // }
    button{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: transparent !important;
      padding: 0 !important;
    }
    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
    }
    
    /// ///
    .Sablon-change {
      display: grid;
      grid-template-columns: 1fr 2fr;
      height: 450px;
      .Sablon-change-categories {
        background-color: #000;
        color: white;
        height: 100%;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 65px;
          width: 100%;
          height: 100%;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            cursor: pointer;
            transition: 0.6s;
            span{
              text-align: center;
              font-size: 25px;
            }
            i {
              font-size: 25px;
            }
            &:hover {
              color: #2eaf00;
            }
          }
        }
      }
      .Sablon-change-category {
        height: 100%;
        overflow-y: scroll;
        background-color: #282525;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 15px;
       
        button {
          padding: 10px 0;
          background-color: #faf7f7;
        }
        img {
          overflow: hidden;
          width: 150px;
          object-fit: cover;
          height: 120px;
          transition: 0.6s;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }

      }
      .Sablon-down-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    }
    .Sablon-view {
      display: flex;
      .SablonView-fon {
        min-height: 300px;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: white;
        img {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
        }
        .SablonView-dizayn {
          position: absolute;
          img {
            width: 200px;
            @include mobile(){
              width: 100px;
            }
          }
        }
      }
    }
  }
}

.Sablon-button{
  margin: 20px 0;
  .Sablon-button-container{
    background: #282525;
    width:90%;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .6s;
    a{
      display: flex;
      justify-content: center;
      color: white;
      display: flex;
      gap: 5px;
      align-items: center;
      width: 100%;
      i{
        font-size: 20px;
      }
    }
    &:hover{
      background-color: #5a4949;
    }
  }
}
#Carusel {
  box-shadow: 1px 0px 8px -3px #629c4d;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #ffffff;

  .Carusel {
    .Carusel-container {
      .Carusel-container-item {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        width: 85%;
        margin: 0 auto;
        position: relative;
        height: 100%;
        @include mobile() {
          column-gap: 10px;
        }
        .Carusel-container-photo {
          background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative; // Make it a positioned ancestor for absolute positioning inside it
    display: flex;
    align-items: center;
    justify-content: center;
@include mobile(){
  height: 250px;
}
        
    .Carusel-container-word {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50px;
      left: 50px;
      color: #fff;
      row-gap: 20px;
      align-items: initial;
      h3 {
        font-size: 40px;
        text-align: initial;

        @include ipad() {
          font-size: 22px;
        }

        @include mobile() {
          font-size: 16px;
        }
      }

      p {
        opacity: 0.8;
        text-align: initial;

        @include ipad() {
          font-size: 16px;
        }

        @include mobile() {
          font-size: 11px;
          line-height: 15px;
          font-weight: 700;
        }
      }

      a {
        width: max-content;
        height: max-content;
        padding: 10px;
        background-color: #35a1ca;
        color: white;
        transition: 0.6s;
        cursor: pointer;
        border-radius: 6px;

        &:hover {
          background-color: #57b0d3;
        }

        @include mobile() {
          font-size: 14px;
        }
      }
    }
        }


      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.elage {
  box-shadow: 1px 0px 8px -3px #629c4d;
  padding-top: 50px;
  padding-bottom: 30px;

  form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    input,
    textarea {
      padding-left: 20px;
      border: 1px solid;
      width: 100%;

      box-shadow: 1px 0px 8px -2px #629c4d;

      &::placeholder {
        transition: 0.9s;
      }
    }

    .Contactform-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;

      @include mobile() {
        grid-template-columns: 1fr;
        row-gap: 15px;
      }

      input {
        width: 100%;
        height: 40px;
      }
    }

    .Contactform-center {
      textarea {
        padding-top: 10px;
        max-width: 100%;
        min-width: 100%;
        max-height: 300px;
        min-height: 150px;
      }
    }

    .Contactform-button {
      display: flex;
      justify-content: center;

      button {
        width: 200px;
        height: 40px;
        background: #35a1ca;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #62aac7;
        }
      }
    }
  }
}

.focused {
  &::placeholder {
    padding-left: 90%;
    opacity: 0;
    // transform: scale(0);
  }
}

#MehsulCarusel {
  margin-top: 50px;

  .MehsulCarusel {
    box-shadow: 1px 0px 8px -3px #629c4d;

    .swiper-slide {
      @include mobile() {
        // width: 220px !important;
      }
    }

    width: 85%;
    margin: 0 auto;

    .MehsulCarusel-container {}
  }
}

.MehsulCarusel-word {
  text-align: center;
  margin: 50px 0;

  h3 {
    font-size: 40px;

    @include ipad() {
      font-size: 35px;
    }

    @include mobile() {
      font-size: 25px;
    }
  }
}

.MehsulCarusel-item {
  background-color: white;
  padding: 20px;
  display: grid;
  row-gap: 20px;
  // height: 300px;
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 1px 0px 8px -3px #629c4d;

  @include mobile() {
    height: auto;
  }

  .MehsulCarusel-item-word {
    height: 50px;

    strong {
      font-size: 20px;
      color: #000;

      @include mobile() {
        font-size: 16px;
      }
    }
  }

  .MehsulCarusel-item-img {
    height: 250px;

    @include mobile() {
      height: 160px;
    }

    img {
      transition: .6s;
      height: 100%;
      object-fit: contain;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#Hakimizda {
  margin-top: 80px;

  .Hakimizda {
    width: 85%;
    margin: 0 auto;

    .Hakimizda-container {
      display: flex;
      flex-direction: column;
      row-gap: 70px;

      .Hakimizda-top {
        text-align: center;

        h3 {
          font-size: 40px;

          @include ipad() {
            font-size: 35px;
          }

          @include mobile() {
            font-size: 25px;
          }
        }
      }

      .Hakimizda-button {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 50px;

        @include mobile() {
          display: flex;
          flex-direction: column-reverse;
          row-gap: 20px;
        }

        .Hakimizda-button-word {
          p {
            text-align: justify;
          }
        }

        .Hakimizda-button-photo {
          height: 200px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.BasketMenu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  cursor: pointer;

  .basket {
    width: 30px;
    height: 3px;
    background-color: #01963A;
    transition: 0.6s;
  }

  .basket-center {
    width: 20px;
  }
}

.basketActive {
  transition: 0.5s;

  .basket-left {
    transform: rotate(45deg) translate(0px, -1px);
  }

  .basket-center {
    display: none;
  }

  .basket-right {
    transform: rotate(-45deg) translate(5px, -4px);
  }
}

#headerMobile {
  display: none;

  @include mobile() {
    display: block;
  }

  @include ipad() {
    display: block;
  }

  padding-bottom: 10px;
  background-color: white;

  .headerMobile {
    position: relative;
    .headerMobile-container {
      width: 85%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .headerMobile-logo {
      width: 110px;
      height: 75px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.MenuText {
  // .MenuBackround {
  transition: 0.6s;
  content: "";
  width: 50%;
  padding: 20px 0;
  background-color: #fafafa;
  position: absolute;
  box-shadow: 0px 0px 2px 1px green;
  right: 0;
  top: 85px;
  z-index: 4;
  transform-origin: right;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0px 0px 20px;

  a {
    color: rgb(0, 0, 0);
    margin: 0;
  }

  .MenuText-top {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
    width: 100%;
    justify-content: center;

    .Header-language {
      color: rgb(0, 0, 0);
      cursor: pointer;
      p{
        display: flex;
        gap: 5px;
      }
    }
  }

  .MenuText-button {
    margin-top: 20px;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      li {
        a {
          transition: 0.5s;
        }

        &:hover {
          a {
            color: #29e668;
          }
        }
      }
    }
  }
}

// }
.hidden {
  transform: scaleX(0);
}

#HomeLogo {
  margin: 80px 0;

  .HomeLogo {
    .HomeLogo-categories {
      display: flex;
      gap: 50px;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #fff;
      box-shadow: 1px 0px 8px -3px #629c4d;

      .HomeLogo-category {
        width: 85%;
        margin: 0 auto;
      }
    }

    .HomeLogo-logo {
      h3 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;

        @include ipad() {
          font-size: 35px;
        }

        @include mobile() {
          font-size: 25px;
        }
      }
    }
  }
}

.HomeLogo-item {
  padding: 20px 0;

  .HomeLogo-item-img {
    height: 130px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0px 1px 4px #629c4d);
    }
  }
}

.is-sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  z-index: 20;
  background: #fff;
  top: 0px;
  padding-bottom: 0px;
}

.HeaderTop {
  background-color: #353535;
  height: 45px;
  display: flex;
  align-items: center;

  .HeaderTop-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .HeaderTop-container-left {
      h1 {
        font-size: 16px;
        color: white;
      }
    }

    .HeaderTop-container-right {
      display: flex;
      align-items: center;
      gap: 50px;

      .HeaderTop-elage {
        li {
          font-size: 15px;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        gap: 30px;

        li {
          display: flex;
          gap: 10px;

          a,
          span {
            color: white;
          }

        }
      }

      .HeaderTop-social {
        gap: 20px;

        li {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 70%;
            background-color: white;
            right: -9px;
            top: 3px;
          }

          &:nth-last-child(1) {
            &::after {
              width: 0;
            }
          }
        }

        a {
          font-size: 18px;
          transition: .6s;

          &:hover {
            color: #29e668;
          }
        }
      }
    }
  }
}

.HeaderTopMobile {
  background-color: #353535;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;

  .HeaderTopMobile-container {
    ul {
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;

      li {
        a {
          font-size: 20px;
          color: white;
          transition: .6s;

          &:hover {
            color: #29e668;
          }
        }
      }
    }
  }
}

#Blog {
  // max-width: 1137px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  margin-top: 40px;

  h1 {
    margin: 20px 0;
    display: inline-block;
    position: relative;
    font-size: 34px;
    font-weight: bold;
  }

  h1::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: #00D315;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  // .card {

  //   background-color: #D9D9D9;
  //   height: 600px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;

  //   padding: 20px;

  //   margin: 20px 0;

  //   p {
  //     font-weight: 700;
  //     font-size: 25px;
  //     color: #000;
  //   }
  // }
  .BlogData-container{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
    width: 100%;
    .BlogData-item{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      position: relative;
      @include mobile(){
        display: flex;
    flex-direction: column;
    row-gap: 20px;
      }
      .BlogData-img{
        height: 300px;
        @include mobile(){
          height: 250px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .BlogData-words{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .BlogData-date{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          color: #000;
          span{
            opacity: .7;
          }
        }
        .BlogData-text{
          p{
            color: black;
            line-height: 21px;
          }
        }
        .BlogData-button{
          width: max-content;
          border: 2px solid black;
          transition: .6s;
          padding: 10px 25px;
          span{
            color: #000;
            transition: .6s;

          }
          &:hover{
            border: 2px solid #00D315;
            span{
              color: #00D315;

            }
          }
        }
      }
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        bottom: -26px;
        left: 0;
      }
      &:nth-child(-n+1)::after {
        width: 0;
      } 
    }
  }
}

#BlogDetails {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

  h1 {
    margin: 20px 0;
    display: inline-block;
    position: relative;
    font-size: 34px;
    font-weight: bold;
  }

  h1::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: #00D315;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
.BlogDetails{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  .BlogDetails-img{
    height: 500px;
    @include mobile(){
      height: 300px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: fill;

    }
  }
  .BlogDetails-word{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .BlogDetails-date{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      h3{
        font-size: 40px;
        @include mobile(){
          font-size: 25px;
        }
      }
      span{
        font-size: 18px;
        opacity: .7;
      }
    }
    .BlogDetails-text{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      p{
        font-size: 20px;
      }
    }
  }
}
.BlogData-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  row-gap: 10px;

  @include ipad(){
    grid-template-columns: repeat(2,1fr);
  }
  @include mobile(){
    grid-template-columns: 1fr;
  }
  .BlogData-card{
    border: 1px solid;
    border-radius: 10px;
    .BlogData-card-container{
      overflow: hidden;
      .BlogData-card-img{
        height: 200px;
        img{
          width: 100%;
          border-radius: 10px 10px 0px 0;
          height: 100%;
          object-fit: fill;
          transition: .6s;
          
        }
        &:hover{
          img{
            transform: scale(1.1);
          }
        }
      }
      .BlogData-card-word{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 10px 15px;
        .BlogData-card-date{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          h3{
            font-size: 16px;
            font-weight: 600;
          }
          span{
            font-size: 14px;
            opacity: .7;
          }
         

        }
        .BlogData-card-text{

        }
        .BlogData-card-button{
          display: flex;
          justify-content: end;
          color: black;
          span{
            border: 1.5px solid;
            padding: 10px;
            transition: .6s;
            &:hover{
              border: 1.5px solid #00D315;
              color: #00D315;
            }
          }
        }
      }
    }
  }
}

}
.mySwiper2 {
  height: 400px; /* Фиксированная высота главного Swiper */
  margin-left: auto;
  margin-right: auto;
}
.mySwiperr {
  height: 120px; /* Фиксированная высота миниатюрного Swiper */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px 0;
}
.big-title-container{
  display: flex;
  justify-content: center;
  h1{
    width: max-content;
  }
}

.alert-container{
  width: 70%;
  margin: 0 auto;
}

.loading-container{
  position: fixed;
  z-index: 9999999;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}